
@media screen and (min-width:570px) {
    .container {
        border-bottom-right-radius: 150px;
    }    

    /* .error-message {
        font-size: .4rem;
    } */

    .user-input-submit:hover {
        background-color: var(--clr-font-pr);
        transition: .2s;
    }

    .user-input-divider {
        justify-content: right;
    }
}