@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,700;1,400;1,800&display=swap');

*,
::after,
::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    /* colors */

    --clr-primary: hsl(259, 100%, 65%);

    --clr-font-pr: hsl(0, 0%, 8%);
    --clr-font-input: hsl(0, 1%, 44%);

    --clr-error: hsl(0, 100%, 67%);

    --clr-border: hsl(0, 0%, 86%);

    --clr-background-pr: hsl(0, 0%, 100%);
    --clr-background-sec: hsl(0, 0%, 94%);

    /* font */

    --fn-family: 'Poppins', sans-serif;

    --fw-small: 400;
    --fw-medium: 700;
    --fw-big: 800;

    --fn-size: clamp(20px, 4vw, 32px);
}

html {
    font-family: var(--fn-family);
    font-size: var(--fn-size);
    font-weight: var(--fw-small);
    cursor: default;
}

::selection {
    background-color: var(--clr-primary);
    color: var(--clr-background-sec);
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--clr-background-sec);
    min-height: 100vh;
}
/* container */
.container {
    background-color: var(--clr-background-pr);

    margin: 3rem auto;
    padding: 1rem 1rem;
    width: min(90%, 670px);

    border-radius: 20px;
    border-bottom-right-radius: 80px;
}
/* form input section */
.user-input-wrap {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;

    gap: min(.8rem, 3vw, 1rem);
    
    max-width: 400px;
}

.input-label {
    font-size: .4em;
    font-weight: var(--fw-medium);
    color: var(--clr-font-input);
    text-transform: uppercase;
    letter-spacing: .2em;
}

.input {
    border-radius: 5px;
    border: 1px solid var(--clr-border);
    padding: .3rem .5rem;
    
    width: 100%;
    
    color: var(--clr-font-pr);
    font-weight: var(--fw-big);
    font-family: var(--fn-family);
    font-size: .8em;
    
    cursor: pointer;
}

.input:focus, .input:active {
    border: 1px solid var(--clr-primary);
}

.input::-webkit-outer-spin-button,
.input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.error-message {
    display: block;
    content: "";
    height: .5rem;
    padding: .1rem;

    font-size: clamp(8px, 2vw, 10px);
    font-weight: var(--fw-small);
    font-style: italic;

    color: var(--clr-error);
}

#user-day.error .input-label, 
#user-month.error .input-label,
#user-year.error .input-label
{
    color: var(--clr-error);
}
#user-day.error .error-message, 
#user-month.error .error-message, 
#user-year.error .error-message 
{
    display: block;
}

#user-day.error .input,
#user-month.error .input, 
#user-year.error .input 
{
    border-color: var(--clr-error);
}

.user-input-divider {
    display: flex;
    justify-content: center;
    
    margin: 2rem auto;
    
    height: 0px;

    border: 1px solid var(--clr-background-sec);
}

.user-input-submit {
    z-index: 2;
    
    width: 2.6rem;
    height: 2.6rem;
    border-radius: 50%;
    border: none;
    
    transform: translate(0, -50%);
    
    background-color: var(--clr-primary);
    
    cursor: pointer;
}

.user-input-submit img {
    width: 45%;
}
/* output section */
.user-output {
    font-weight: var(--fw-big);
    font-size: 2.3em;
    font-style: italic;
    line-height: 1.2em;
}

.user-output span {
    color: var(--clr-primary);
}
/* footer */
.attribution { 
    font-size: clamp(10px, 2vw, 12px); 
    text-align: center; 
    
    margin-block: 1rem .5rem;
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}